@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}




h1 {
    font-size: 48px;
    animation: fadeInUp 1.5s ease;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    animation: fadeInUp 1.5s ease 0.5s;
}

.nav-contenedor {
    position: flex;
    top: 0;
    max-width: 100%;
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.logo img {
    width: 130px;
    height: 90px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin-right: 20px;
    animation: fadeInUp 1.5s ease 0.5s;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #37cff5;
}

/*****************************************************/
body {
    background-color: #000000e7;
}

.caja {
    display: flex;
    justify-content: space-between;
    background-color: #d9d7d7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    margin-top: 2%;
    /* Cambia o elimina esta línea para ajustar el margen superior según tus necesidades */
}

/* Menú de la sección izquierda */
.izquierda {
    width: 25%;
    padding: 20px;
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.izquierda h2 {
    margin-top: 0;
    font-size: 24px;
}

/* Estilos para el menú desplegable */
#mibusqueda {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#mimenu {
    list-style-type: none;
    padding: 0;
}

#mimenu li {
    margin-bottom: 10px;
}

#mimenu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#mimenu a:hover {
    background-color: #323232;
    color: #fff;
}

/* Contenido central */
.derecha {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.derecha h2 {
    font-size: 30px;
}

/*---------------------------------------------------------*/
.footer {
    background-color: #0e0e0e;
    color: #fff;
    padding: 30px 0;
}

.footer-contenido {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-contact h3,
.footer-redes h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-contact p {
    margin: 5px 0;
}


.footer-direccion {
    flex: 1;
    margin-right: 20px;
}

.footer-redes {
    flex: 1;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
        }

        main {
            max-width: 95%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        /* Estilos específicos para la sección de visión */
        #vision {
            text-align: center;
            margin-bottom: 40px;
        }

        #vision h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }

        #vision p {
            font-size: 25px;
            line-height: 1.6;
        }

        /* Estilos para enlaces */
        a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.2s;
        }

        a:hover {
            color: #0056b3;
        }

        /* Estilos para imágenes */
        .image-container {
            text-align: center;
            margin-top: 30px;

        }

        

        .image-container img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Estilos para sección adicional */
        .additional-section {
            padding: 40px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            max-width: 85%;
            margin-left: 5%;
        }

        .additional-section:hover {
            transform: scale(1.1);
        }

        .additional-section h2 {
            font-size: 32px;
            margin-bottom: 20px;
            color: #333;
        }

        .additional-section p {
            font-size: 20px;
            line-height: 1.6;
            color: #555;
        }